body {
    /*background-color: lightslategrey;*/
}

#errors {
    color: red;
}

#messages-container {
    border: black 2px solid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*height: 20%;*/
    padding: 5px;
    margin-bottom: 10px;

    text-align: center;
    height: 150px;
    overflow: auto;

}

#message {
    width: 35%;
    margin-bottom: 10px;
}

.center-position {
    text-align:center;
}

#send-message-button {
    width: 20%;
    margin-bottom: 10px;
}

#game-table {
    border: black 2px solid;
    border-collapse: collapse;
    width: 80%;
    position: relative;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

td {
    border: black 2px solid;
    text-align: center;
    border-collapse: collapse;
    width: 4px;
}

.button {
    margin-top: 5px;
    margin-right: 5px;
}

.input {
    margin-bottom: 5px;
}